.article-info {
    margin-bottom: 50px;
    width: 200px;
    img {
        max-width: 380px;
        width: 100%;
        transition: .5s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__desc {
        margin-top: 10px;
        transition: .5s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 600px) {
    .article-info {
        &__desc {
            font-size: 0.9rem;
        }
    }
}

@media screen and (max-width: 440px) {
    .article-info {
        min-width: 110px;
        &__desc {
            margin-top: 10px;
        }
    }
}