.reviews-info {
    width: calc((100% - 40px*2)/3);
    max-width: 380px;
    &:not(:last-child) {
        margin-right: 40px;
    }
    img {
        max-width: 380px;
        width: 100%;
        transition: .5s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__title {
        margin-top: 20px;
        font-size: 1rem;
        transition: .5s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 700px) {
    .reviews-info {
        &__title {
            font-size: 0.8rem;
            margin-top: 10px;
        }
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
}

@media screen and (max-width: 450px) {
    .reviews-info {
        min-width: 110px;
        &__title {
            font-size: 0.65rem;
        }
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}