.reviews-info {
    margin-bottom: 50px;
    img {
        max-width: 380px;
        width: 100%;
        transition: .5s;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__title {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: normal;
        transition: .5s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 700px) {
    .reviews-info {
        &__title {
            font-size: 0.9rem;
            margin-top: 10px;
        }
    }
}

@media screen and (max-width: 450px) {
    .reviews-info {
        min-width: 110px;
    }
}