.slider {
    position: relative;
    padding: 0 20px;
    overflow: hidden;
    &__button {
        &:after {
            color: #ef992b;
            font-size: 60px;
        }
    }
    &__pagination {
        position: absolute;
    }
    &__wrapper {
        border: 2px solid #ef992b;
        background-color: #E4DBD3;
        height: 320px;
        padding: 20px;
        margin-bottom: 40px;
    }
    &__text {
        padding: 5px 0 15px 0;
        font-size: 0.8rem;
        color: #474747;
    }
    &__desc {
        font-size: 0.8rem;
    }
}

.swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    background-color: #ef992b;
    font-size: 14px;
}

@media screen and (max-width: 1455px) {
    .slider {
        &__wrapper {
            height: 400px;
        }
    }
}

@media screen and (max-width: 895px) {
    .slider {
        &__wrapper {
            height: 480px;
        }
    }
}

@media screen and (max-width: 770px) {
    .slider {
        padding: 0 20px;
        &__wrapper {
            height: 310px;
        }
        &__button {
            &:after {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 582px) {
    .slider {
        &__wrapper {
            height: 390px;
        }
    }
}

@media screen and (max-width: 459px) {
    .slider {
        &__wrapper {
            height: 470px;
        }
    }
}

@media screen and (max-width: 400px) {
    .slider {
        &__wrapper {
            height: 530px;
        }
    }
}

@media screen and (max-width: 354px) {
    .slider {
        &__wrapper {
            height: 600px;
        }
    }
}